<!doctype html>
<html lang="en-US">
  <head>
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/layout-styles">
  </head>

  <body>
    <h1>404 Not Found</h1>
    <main>
      <p>
        The server did not find a current representation for the target resource
        or is not willing to disclose that one exists. A 404 status code does
        not indicate whether this lack of representation is temporary or
        permanent.
      </p>
    </main>
  </body>
</html>

