<!doctype html>
<html lang="en-US">
  <head>
    <title>406 Not Acceptable</title>
    <link rel="stylesheet" href="/layout-styles">
  </head>

  <body>
    <h1>406 Not Acceptable</h1>
    <main>
      <p>
        The target resource does not have a current representation that would be
        acceptable to the user agent according to the proactive negotiation
        header fields received in the request, and the server is unwilling to
        supply a default representation.
      </p>
    </main>
  </body>
</html>

