<!doctype html>
<html lang="en-US">
  <head>
    <title>415 Unuspported Media Type</title>
    <link rel="stylesheet" href="/layout-styles">
  </head>

  <body>
    <h1>415 Unuspported Media Type</h1>
    <main>
      <p>
        The server is refusing to service the request because the payload is in
        a format not supported by this method on the target resource. The format
        problem might be due to the request's indicated Content-Type or
        Content-Encoding, or as a result of inspecting the data directly.
      </p>
    </main>
  </body>
</html>

