<!doctype html>
<html lang="en-US">
  <head>
    <title>TODO Created</title>
    <link rel="stylesheet" href="/layout-styles">
    <meta http-equiv="Refresh" content="0; url=<%= location %>" />
  </head>

  <body>
  </body>
</html>

