<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{statusCode}} {{statusString}}</title>
  </head>
  <body>
    <main>
      <h1>{{statusCode}} {{statusString}}</h1>
    </main>
  </body>
</html>
