<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todo List App</title>
  </head>
  <body>
    <main>
      <a href="/todo">Click here to view todo list</a>
      <br>
      <a href="/custom">Click here to view custom files</a>
    </main>
  </body>
</html>
